@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    background: #fff;
    color: #15161d;
}
.container-login{
    border: 1px;
    border-radius: 30px;
    background-color: #fff;
    width: 600px;
    height: 600px;
    text-align: center;
    margin-top: 6%;
    margin-left: 32%;
}
.container-register{
    border: 1px;
    background-color: #fff;
    width: 650px;
    /*height: 40%;*/
    min-height: 0;
    text-align: center;
    margin-top: 0em;
    margin-left: 32%;
}
.container-forgot-password{
    border: 1px;
    border-radius: 30px;
    background-color: #fff;
    width: 600px;
    height: 330px;
    text-align: center;
    margin-top: 13%;
    margin-left: 32%;
}
.login-container{
    width:100%;
}
.login-form{
    max-width: 100%;
    width:inherit;
    padding-left: 5em;
    padding-right: 5em;
}
.form-connect{
    padding-top: 15px;
    text-align: left;
}

.form-control{
    font-size:15px;
    min-height:48px;
    font-weight:500;

}
.forgot-link{
    font-size:13px;

}
.forgot-link label{
    margin-bottom: 0px;;

}
.login-form a{
    text-decoration: none;
    color:blue;
}
.login-form a:hover{
    color:#0000ff;
}
.btn-custom{
    background:#D10024;
    border-color: none;
    color:#fff;
    font-size: 15px;
    font-weight:600;
    min-height:48px;

}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
..btn-custom:active:focus{
    background: #b3001e;
    color:#fff;
}
.mt-5, .my-5 {
     margin-top: 0rem!important;
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}
.btn-custom:focus{
    /*box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);*/
}
.btn:hover {
    color: #fff;
}

.main-title{
    font-size: 22px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}
.main-title2{
  position: relative;
    padding-top: 0em;
    padding-bottom: 0.5em;
    text-align: center;
}
.forgot-pass{
    text-align: left;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
/* Checkbox */
.checkboxContainer input{
  display: none;
}
.checkboxContainer {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}
.checkboxContainer .checkmark{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #999;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
}
.checkboxContainer input:checked + .checkmark{
  background-color: #d10024;
}
.checkboxContainer:hover .checkmark{
  background-color: #ffe6ea;
  border: 1px solid #d10024;
}
.checkboxContainer input:checked + .checkmark:after{
  content: "";
  position: absolute;
  height: 4px;
  width: 9px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.main-logo {
  text-align: center;

}
.check-form{
  margin-left: 5px;
}
.agree{
  text-align: center;
  font-size: 12px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.login-here{
    padding-left: 0em;
    padding-top: 2.2em;
    text-align: right;
    font-size: 14px;
}
.register-here{
    padding-left: 16em;
    padding-top: 2.2em;
    text-align: right;
    font-size: 14px;
}
.flex-title{
  display: flex;
  justify-content: space-between;
}
.flex-login-btn{
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
.register-checkbox {
  padding-left: 1.8em;
}